[Unit]
Description=My Node.js App
After=cloud-init.service
Wants=cloud-init.service

[Service]
Type=simple
Group=csye6225
User=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/index.js
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10

[Install]
WantedBy=cloud-init.target
