[Unit]
Description=My Node.js App
After=cloud-init.service

[Service]
WorkingDirectory=/opt/webapp
Environment=NODE_PORT=3000
EnvironmentFile=/etc/environment
Type=simple
ExecStart=/usr/bin/node /opt/webapp/index.js
Restart=always
RestartSec=5
TimeoutSec=5
user=csye6225

[Install]
WantedBy=cloud-init.target
